.courses-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: calc(100% + var(--spacing-lg) + var(--spacing-lg));
    margin-left: calc(0px - var(--spacing-lg));
    padding: var(--spacing-md) 0;
}

.course {
    display: flex;
    flex-direction: column;
    min-width: 0;
    border-left: 1px solid var(--color-border);
    padding: 0 var(--spacing-lg);
}

.course:first-child {
    border-left: none;
}

.course-pink {
    --course-accent: var(--accent-dusty-rose);
}

.course-green {
    --course-accent:var(--accent-sage-green);
}

.course-blue {
    --course-accent:var(--accent-teal);
}

.course-image-wrap {
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: block;
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-medium);
}

.course-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.course-info {
    padding-top: 1.75rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.course .meta {
    color: var(--course-accent);
}

@media screen and (max-width: 900px) {

    .courses-grid {
        grid-template-columns: 1fr;
        gap: var(--spacing-lg);
        width: 100%;
        margin: auto;
    }

    .course {
        border-left: none;
        border-top: var(--color-border);
        padding: var(--spacing-lg) 0 0;
    }

    .course:first-child {
        border-top: none;
        padding-top: 0;
    }
}