.footer {
    background-color: var(--color-bg-secondary);
    padding-top: var(--spacing-md);
    color: var(--color-text);
    font-family: var(--font-sans);
    margin-top: var(--spacing-lg);
}

.footer-inner {
    padding: var(--spacing-md) var(--spacing-md) 0;
    background-image:
        url("../main_bg_right.png"),
        url("../main_bg_left.png");
    background-position:
        bottom right,
        bottom left;
    background-size:
        contain,
        contain;
    background-repeat:
        no-repeat,
        no-repeat;
}

.footer-grid {
    max-width: 500px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-lg);
    padding: var(--spacing-lg);
}

.footer-info,
.footer-brand {
    display: block;
}

.footer-brand img {
    height: 1.05rem;
}

footer h3 {
    font-size: 1.1rem;
    line-height: 1.3rem;
    margin-bottom: var(--spacing-sm);
    border-bottom: 1px solid var(--color-text);
    padding-bottom: 8px;
}

.footer a {
    display: inline-block;
    margin-bottom: 8px;
    color: var(--accent-dark-brown);
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.footer a:hover {
    color: var(--accent-dark-brown);
    opacity: 0.7;
}

.social-link {
    color: var(--color-text-light);
    transition: color 0.2s ease;
}

.social-link svg {
    vertical-align: middle;
    margin-bottom: 6px;
    margin-left: 4px;
}

@media (hover: hover) and (pointer: fine) {
    .social-link:hover {
        color: var(--color-text);
    }
}

.footer-bottom {
    text-align: center;
    padding: var(--spacing-sm);
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--color-text);
}

/* Mobile */
@media screen and (max-width: 1024px) {

    .footer {
        background-image: none;
        padding: 0;
    }

    .footer-inner {
        position: relative;
        flex-direction: column;
        gap: 20px;
        text-align: left;
        padding: 0;
        margin-bottom: 35px;
        background-size:
            auto 320px,
            auto 320px;
    }

    .footer-grid {
        max-width: 550px;
        padding: var(--spacing-lg) var(--spacing-lg) 0;
        gap: 20px;
        padding-bottom: 150px;
    }

    .footer-bottom {
        width: 100%;
        position: absolute;
        background-color: var(--color-text);
        color: var(--color-bg);
        height: 35px;
        line-height: 35px;
        padding: 0;
        font-weight: normal;
        bottom: -35px;
    }
}

@media screen and (max-width: 800px) {

    .footer-inner {
        background-size:
            auto 280px,
            auto 280px;
    }

    .footer-grid {
        max-width: 420px;
        padding-bottom: 270px;
    }
}

@media screen and (max-width: 480px) {

    .footer-inner {
        background-size:
            auto 220px,
            auto 220px;
    }

    .footer-grid {
        padding-bottom: 200px;
    }
}