header {
    background-color: var(--color-bg);
    text-align: center;
    padding: 30px 0 10px;
    box-shadow: var(--shadow-soft);
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header-top {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: var(--spacing-md);
}

.header-logo img {
    max-width: 200px;
    margin-bottom: 0;
}

.header-icons {
    position: absolute;
    right: var(--spacing-xl);
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 1.2rem;
}

.header-icons i {
    font-size: 1.4rem;
    cursor: pointer;
}

header a {
    color: var(--color-text-light);
}

header a:hover {
    color: var(--color-text);
}

/* NavMenu under logon */
header nav {
    width: 100%;
}

@media screen and (max-width: 1024px) {
    header {
        padding: 20px 0 0;
    }

    .header-top {
        padding-bottom: var(--spacing-sm);
    }

    .header-logo a img {
        max-width: 150px;
    }

    .header-icons {
        gap: 0.8rem;
        right: var(--spacing-md);
    }
}