header{
    background-color: var(--color-bg);
    text-align: center;
    padding: 30px 0 10px;
    box-shadow: var(--shadow-soft);
    position: sticky;
    top:0;
    z-index: 1000;
}

header img{
    width: 100%;
    max-width: 250px;
    margin-bottom: 20px;
}