

/* Hamburger button */
.hamburger {
    width: 24px;
    height: 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: var(--spacing-lg);
    left: var(--spacing-md);
    z-index: 1001;
}

.hamburger span {
    height: 3px;
    background: var(--color-text);
    /* chokladbrun */
    border-radius: 2px;
    transition: 0.3s;
}

/* Hamburger animation */
.hamburger.open span:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
}

/* Mobile menu */
.menu {
    margin: 0 !important;
    width: 50%;
    height: 100vh;
    background-color: var(--color-bg-secondary);
    box-shadow: var(--shadow-soft);
    position: absolute;
    top: 0px;
    left: 0;

    /* Startläge: dold utanför skärmen till vänster */
    transform: translateX(-100%);
    visibility: hidden;
    transition: transform 0.35s ease, visibility 0.35s ease;
}

.menu ul {
    height: 60vh;
    list-style: none;
    padding: var(--spacing-md);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--spacing-sm);
}

.menu.show {
    transform: translateX(0);
    visibility: visible;
}

.menu a {
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--color-text);
    /* chokladbrun */
    font-family: var(--font-serif);
    /* Bodoni */
}

.menu a {
    display: inline-block;
    transition: transform 0.25s ease, opacity 0.25s ease;
    position: relative;
}

.menu a:hover {
    transform: translateY(-3px);
}

.menu a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background: var(--accent-dusty-rose);
    z-index: -1;
    opacity: 0;
    transform: translateY(0);
    transition: transform 0.3s ease-out,
        opacity 0.2s ease-out;
}

.menu a:hover::after {
    transform: translateY(14px);
    opacity: 1;
}


/* ⭐ DESKTOP VERSION ⭐ */
@media (min-width: 1024px) {

    .hamburger {
        display: none;
    }

    .menu {
        background-color: transparent;
        padding-left: 0;
        margin: 0;
        position: static;
        transform: none;
        visibility: visible;
        transition: none;
        box-shadow: none;
        width: auto;
        height: auto;
    }

        .menu ul {
            height: auto;
            display: flex !important;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: var(--spacing-lg);
            padding-left: 0;
            margin: 0;
            position: static;
            padding: 0px var(--spacing-xl);
        }
}