.usp {
    color: var(--color-text);
    text-align: center;
}

.usp-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-sm);
}

.usp-item {
    display: flex;
    align-items: center;
    text-align: left;
    padding: var(--spacing-md);
    background: var(--color-bg-secondary);
    box-shadow: var(--shadow-soft);
    transition: transform 0.3s ease;
}

.usp-item:hover {
    transform: translateY(-4px);
}

.usp-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent-purple);
    /* fin pastellaccent */
    flex-shrink: 0;    
}

.usp-item .usp-text{
    padding-left: var(--spacing-sm);
    margin-left: var(--spacing-md);
    border-left: 1px solid var(--color-border);
}

.usp-item h3 {
    font-family: var(--font-serif);
    margin-bottom: var(--spacing-xs);
}

.usp-item p {
    margin: 0;
    color: var(--color-text-light);
    font-size: 0.8rem;
}

.usp-icon .material-symbols-rounded {
    font-size: 50px;
    font-weight: 400;
    /* matchar en av de vikter du laddade in: 300, 400 eller 500 */
    color: var(--color-text-light);
}


/* Mobile */
@media screen and (max-width: 900px) {
    .usp-grid {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 600px) {
    .usp-grid {
        grid-template-columns: 1fr;
    }
}