.usp-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-lg);
    padding: var(--spacing-md) 0;
}

.usp-item {
    display: flex;
    align-items: center;
    padding: var(--spacing-md);
    background: var(--color-bg-secondary);
    border: 2px solid var(--color-text);
    outline: 10px solid var(--color-bg-secondary);
    box-shadow: var(--shadow-soft);
    transition: transform 0.3s ease;
}

.usp-item:hover {
    transform: translateY(-4px);
}

.usp-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;    
}

.usp-icon .material-symbols-rounded {
    font-size: 40px;
    font-weight: 400;
    color: var(--color-text-light);
}

.usp-item .usp-text{
    padding-left: var(--spacing-md);
    margin-left: var(--spacing-md);
    border-left: 1px solid var(--color-border);
}

.usp-item p {
    margin: 0;
    color: var(--color-text-light);
    font-size: 0.8rem;
}

/* Mobile */
@media screen and (max-width: 900px) {
    .usp-grid {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 600px) {
    .usp-grid {
        grid-template-columns: 1fr;
    }
}