.product-page {
    display: flex;
    gap: var(--spacing-lg);
    align-items: flex-start;
}

.product-page .product-info {
    flex: 1;
}

.product-page .price {
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: baseline;
    gap: 8px;
}

.product-page .out-of-stock {
    font-size: 0.9rem;
    margin-top: 15px;
    color: var(--warning) !important;
    font-style: italic;
}

.product-page .error{
    margin-top: 10px;
}

@media screen and (max-width: 900px) {
    .product-page {
        display: block;
    }
}