/* ====== Produktgrid ====== */
.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-md);
}

@media screen and (max-width: 900px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .product-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}