.divider {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
    width: 50%;
    margin: auto;
}

.divider-line {
    flex: 1;
    height: 2px;
    background: var(--color-text);
    border-radius: 2px;
}

.divider-image {
    width: auto;
    height: 30px;
    object-fit: contain;
    flex-shrink: 0;
}