.price-current {
    color: var(--color-text);
}

.price-discounted {
    color: var(--color-discount);
}

.price-original {
    font-size: 90%;
    color: var(--color-text);
    text-decoration: line-through;
    opacity: 0.6;
}